### C ###
# Debug files
.gdb_history
*.dSYM/

### Project ###
# Subject
*.pdf

# Program
/rtv1

### Build ###
# Prerequisites
/objs/

# Command result buffer
.tmp.txt

### Editor ###
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Temporary
*~
\#*\#

### macOS ###
# General
.DS_Store
